/* ================ Media query css ================= */
@media all and (max-width: 2400px) and (min-width: 768px) {
.navbar-nav {
	 width: 100%;
	 text-align: center;
}

.navbar-nav li {
   float: none; 
   display: inline-block; 
}
}
	
@media only screen and (max-width: 1199px) {
.footer ul li {
	margin-right: 40px;
	margin-left: 40px;
	font-size: 14px;
}

.section1 p {
	font-size: 20px;
}

.navbar-nav a {
	padding-right: 10px !important; 
	padding-left: 10px !important;
}

.footer ul li {
	margin-left: 10px;
	margin-right: 10px;
	font-size: 12px;
}

}

@media only screen and (max-width: 991px) {
.section1 p {
	font-size: 16px;
}
#navbar a {
	font-size: 14px;
}
		
}

@media only screen and (max-width: 767px) {
body {
	/* background-color: #CBC1B5; */
}

.section1 p {
	float: none;
	text-align: center;
}

 .post-hold h2 {
 	min-height: auto;
 }

 .heading-hold {
 	padding-bottom: 20px;
 	font-size: 20px;
 	padding-right: 30px;
 	padding-left: 30px;
 }

 .top-bar {
	background: url('../images/pinnacle-header.jpg') no-repeat 50% -40px;
	/* background-color: #CBC1B5; */
	background-size:cover;
	position: relative;
}

.social-hold {
	width: 100%;
	text-align: center;
	position: absolute;
	bottom: -15px;
}

.social-hold img {
	display: inline-block; margin-left: auto; margin-right: auto;
}

.social-hold a {
	padding-right: 10px;
	padding-left: 10px;
}

.dropdown-menu li a {
	line-height: 40px !important;
	font-size: 15px;
}

.section3 {
	margin-top: 20px;
}

}


@media only screen and (max-width: 643px) {

.social-hold a {
	padding-right: 0px;
	padding-left: 0px;
}
}


@media only screen and (max-width: 660px) {
.section1 p {
	font-size: 13px;
}	
}

@media only screen and (max-width: 522px) {
.section1 p {
	font-size: 12px;
}	
}


@media only screen and (max-width: 305px) {



}
