@font-face {
  font-family: 'Helvetica-Bold';
  src: url('../fonts/Helvetica-Bold.eot');
  src: url('../fonts/Helvetica-Bold.woff2') format('woff2'),
       url('../fonts/Helvetica-Bold.woff') format('woff'),
       url('../fonts/Helvetica-Bold.ttf') format('truetype'),
       url('../fonts/Helvetica-Bold.svg#Helvetica-Bold') format('svg'),
       url('../fonts/Helvetica-Bold.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
    font-family: 'open_sansregular';
    src: url('../fonts/OpenSans-Regular-webfont.eot');
    src: url('../fonts/OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/OpenSans-Regular-webfont.woff') format('woff'),
         url('../fonts/OpenSans-Regular-webfont.ttf') format('truetype'),
         url('../fonts/OpenSans-Regular-webfont.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

body {
	color: #252525;
	background: #c4d7fd url('../images/pinnacle-background.png') repeat top center;
}

.mr0 {
	margin-right: 0px;
}

.ml0 {
	margin-left: 0px;
}
.section1 {
	font-family: 'Helvetica-Bold';
	min-height: 50px;
	background-color: #252525;
	color: #ffffff;
	font-size: 16px;
}
.section1 ul li a:hover {
	color: #FFF; 
}
.section1 p {
	/* float: right; */
	padding-top: 15px;
}

.section2 {
	background-color: transparent;
}

.top-bar {
	min-height: 305px;
	background: url('../images/pinnacle-header.jpg') no-repeat top center;
	background-size:cover;
}

.top-bar-outer {
	font-size: 24px;
}

.logo-hold img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 40px;
}

.social-hold img {
	display:block;
	margin-top: 20px;
	margin-left: 30px;
}

.navbar-nav .open .dropdown-menu {
    background-color: #898989;
}

.dropdown-menu li  a {
    color: #252525 !important;
    width: 190px;
}

.section3 {
	background-color: #172741;
}

.section3 > .container {
	padding-left: 0px;
}

.navbar {
	margin-bottom: 0px;
}

.navbar-inverse {
	background-color: #172741 !important;	
}

.slider-hold {
	padding-right: 0px;
	padding-left: 0px;
	background-color: #505662;
}

.section5 {
}

.section5 > .container {
	background-color: #fff;
	padding-left: 50px;
	padding-right: 50px;
	padding-top: 50px;
}

.topline {
	border-bottom: 1px solid #172741;
	position: relative;
	margin-bottom: 50px;
}

.topline-2 {
	border-bottom: 1px solid #73614B;
	position: relative;
	margin-bottom: 20px;
}
.topline-2 span {
	background-color: #D7D7D7;
	width: 100px;
	display:  block;
	height: 30px;
	margin-right: auto;
	margin-left: auto;
	position: relative;
	top: 20px;
}
.topline span {
	background-color: #fff;
	width: 100px;
	display:  block;
	height: 30px;
	margin-right: auto;
	margin-left: auto;
	position: relative;
	top: 20px;
}

 .post-hold {
 	border: 3px solid #172741;
 	padding-right: 15px;
 	padding-left: 15px;
 	text-align: center;
 	margin-bottom: 40px;
 	padding-bottom: 15px;
 }

 .post-hold h2 {
 	font-family: 'Helvetica-Bold';
 	text-align: center;
 	min-height: 90px;
 	font-size: 28px;
 }

.post-hold li {
	text-align: left;
}

 .section5 > .container h2 {
	font-family: 'Helvetica-Bold';
	margin-bottom: 10px;
}

.heading-hold {
	width: 100%;
	background-color: #172741;
	min-height: 80px;
	color: #ffffff;
	font-size: 28px;
	text-align: center;
	padding-top: 20px;
}

.mb30 {
	margin-bottom: 30px;
}

.footer {
	background-color: #252525;
	text-align: center;
	color: #ebe6e0;
	min-height: 50px;
	padding-top: 15px;
}



.footer ul li {
	display: inline;
	margin-right: 60px;
	margin-left: 60px;
	font-size: 15px;
	font-family: 'Helvetica-Bold';
}

.footer ul li a {
	color: #ebe6e0; 
}

.footer ul li a:hover {
	color: #337AB7; 
}

.single-post img {
	margin-bottom: 40px;
}

.link-hold {
	font-size: 14px;
	color: #73614B;
	font-weight: bold;
}

.carousel-indicators li {
	position: relative;
	top: 65px;
}

.pb40 {
	padding-bottom: 40px;
}

.mt70 {
	margin-top: 70px;
}

.pb20 {
	padding-bottom: 20px;
}

.pr0 {
	padding-right: 0px;
}

.pl0 {
	padding-left: 0px;
}

/* .navbar-static-top { */
    /* margin: 0 auto; */
    /* float: none; */
/* } */

.top-bar-link ul li a:hover {
	color: #FFF; 
}

.contact-form-hold input {
	width: 100%;
	height: 35px;
	-moz-border-radius: 3px;/*Firefox*/
	-webkit-border-radius: 3px;/*Safari, Chrome*/
	border-radius: 3px;
	border: 1px solid #ABB0B2;
	padding-left: 10px;
}

.contact-form-hold select {
	width: 100%;
	height: 35px;
}

.btn-submit {
	width: 90px !important;
	background-color: #AAAAAA;
	color: #fff;
	font-size: 14px;
	border: none;
	outline: none;
}

.btn-submit:hover {
	background-color: #777777;
	color: #fff;
	border: none;
	outline: none;

}

.form-group textarea {
	width: 100%;
	height: 200px;
}

#navbar {
    font-size: 16px;
    letter-spacing: -0.03em;
    font-weight: bold;
}
