/******************************************************************
Theme Name: Pinnacle Senior Living
Theme URI: http://pinnacleseniorliving.com/
Description: This theme was custom made
Author: Trey Brister
Author URI: http://rkvideo.tv
Version: 1.0
Tags: flexble-width, translation-ready, microformats, rtl-language-support

******************************************************************/

/* Add your own styles here */

.size-post-thumbnail {
    display: none;
}

#sidebar-111 {
  width: 25%;
}

#content-111 {
    max-width: 800px;
    float: right;
}

#searchform #s, #searchform #searchsubmit {
  height: 34px;
} 

#searchform #searchsubmit {

} 

#searchform #s {
  width: 60%;
  margin-bottom: 36px;
} 

h1, h2, h3 { text-transform: uppercase; }

h3 {
  font-size: 18px;
}

.top-bar-outer {
    text-align: center;
}

@media screen and (min-width: 480px) and (max-width: 680px) {
  #searchform #s {
    width: 40%;
  }

}
